
# Created by https://www.gitignore.io/api/intellij+iml,playframework

### Intellij ###
.idea/*
out/
*.iws
*.iml
*.ipr
modules.xml


### Gradle ###
.gradle
/build/


### PlayFramework ###
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
